<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here is your phrase in Pig Latin:</h1>
    <h2><%= @translator.piglatinize(@orig_phrase) %></h2>
  </body>
</html>
